 *\obj
 *\bin
 *\Debug
 *\Release

*.dep 
*.aps 
*.vbw 
*.suo 
*.obj 
*.ncb 
*.plg 
*.bsc 
*.ilk 
*.exp 
*.sbr 
*.opt 
*.pdb 
*.idb 
*.pch 
*.res 
*.user
/ConsoleApp1/obj
*.dll
*.exe
/ConsoleApp1/bin/Debug/net5.0
/JokeGeneratorTest/bin/Debug/net5.0
/.vs/JokeGenerator/v16/TestStore/0
